<h1>Tambah Mahasiswa</h1>
<form method="post" action="/add-mahasiswa">
    <input type="text" name="nim" placeholder="Masukkan NIM">
    <input type="text" name="nama" placeholder="Masukkan Nama">
    <input type="submit" value="Submit">
</form>
<a href="/">Back</a>